body, html, p {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  min-height: calc(100vh - 380px);
}

:deep(.el-pagination) {
  margin-bottom: 20px;
  justify-content: center;
}