body, html, p {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  min-height: calc(100vh - 380px);
}

.loading-block{
  @include placeholder-order(center);
}

.mask{
  position:fixed;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  left:0;
  top:0;
  height: 100%;
}
