$orange: orange;

@mixin line-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin main-wrapper($tb: 40px) {
  width: 1080px;
  margin: $tb auto;
}

@mixin flex-layout($dir: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

// 多行文本溢出显示省略
@mixin text-overflow($line: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin  placeholder-order($text:left){
  text-align: $text;
  position: absolute;
  top: 69px;
  background-color: #fff;
  padding: 0px 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  right: 0px;
  max-height: 290px;
  overflow-y: auto;
  z-index: 15;
  width: 250px;
}